[core]
	excludesfile = /Users/telkins/.gitignore_global
	editor = code --wait
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Trevor Elkins
[alias]
	lg = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset %s' --abbrev-commit
	sl = stash list --pretty=format:'%Cblue%gd%Cred: %C(yellow)%s'
	ai = add --interactive
	standup = !git lg --after=yesterday --author=Trevor
	cm = commit -m
	s = status
	cherry = cherry-pick
	ap = add --patch
	rp = reset --patch
	cp = checkout --patch
	diffc = diff --cached
	com = checkout master
	diffs = diff --staged
	aa = add --all
	co = checkout
[pull]
	rebase = true
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[url "https://github.com/card-io/card.io-dmz.git"]
	insteadOf = git@github.com:card-io/card.io-dmz.git
[push]
	default = upstream
[rebase]
	autoStash = true
